img
{
    height: 240px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 32px;
    height: 240px;
    padding: 0 5px;
}

input[type=range]
{
    width: 240px;
    height: 32px;
    padding: 0 5px;
}